@import '../../styles/vars';
@import '../../styles/mixins';

.home {

  &__title {
    margin: 24px 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;

    @include onTablet {
      margin: 32px 0;
      font-size: 48px;
      line-height: 56px;
    }

    @include onDesktop {
      margin: 56px 0;
    }
  }

  &__icon {
    &-container {
      display: none;

      @include onTablet {
        display: flex;
        justify-content: center;
        align-items: center;
  
        width: 32px;
        cursor: pointer;
        background-color: $surface-2;
      }
    }

    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--left {
      background-image: url(../../icons/Arrows/left-white.svg);
    }

    &--right {
      background-image: url(../../icons/Arrows/right-white.svg);
    }
  }

  &__banner {
    display: flex;
    margin-bottom: 18px;

    &-image {
      margin: 0 auto;
      padding-top: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include onTablet {
        padding-top: 30%;
        width: 80%;
      }

      &--first {
        background-image: url(../../api/img/banner-14pro.png);
        
        @include onTablet {
          background-image: url(../../api/img/banner-14pro-desktop.png);
        }
      }

      &--second {
        background-image: url(../../api/img/banner-tablets.png);
      }

      
      &--third {
        background-image: url(../../api/img/banner-phones.png);
      }
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  &__dot {
    width: 14px;
    height: 4px;
    background-color: $elements;
    margin-bottom: 66px;

    @include onTablet {
      margin-bottom: 74px;
    }

    @include onDesktop {
      margin-bottom: 90px;
    }

    &--active {
      background-color: $white;
    }
  }

  &__categories {

    &-title {
      margin: 0 0 24px;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;

      @include onTablet {
        font-size: 32px;
        line-height: 128%;
      }
    }

    &-previews {
      display: flex;
      flex-direction: column;

      @include onTablet {
        flex-direction: row;
        gap: 16px;
      }
    }
  }

  &__category {
    flex-grow: 1;
    width: 100%;

    &-image {
      padding-top: 100%;
      margin-bottom: 24px;
      background-color: rgb(43, 46, 46);
      // background-size: cover;
      background-repeat: no-repeat;

      &--phones {
        background-image: url(../../api/img/category-phones.png);
        background-color: #6D6474;
        background-position: 40px -20px;
        background-size: 120%;
      }

      &--tablets {
        background-image: url(../../api/img/category-tablets.png);
        background-color: #8D8D92;
        background-position: top left;
        background-size: 140%;
      }

      &--accessories {
        background-image: url(../../api/img/category-accessories.png);
        background-color: #973D5F;
        background-position: bottom left;
        background-size: 200%;
      }
    }

    &-title {
      margin: 0 0 4px;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

    &-text {
      margin: 0 0 32px;
      font-weight: 600;
      font-size: 14px;
      color: $secondary;

      @include onTablet {
        margin-bottom: 64px;
      }
    }
  }

  &__news {

    &-title {
      margin: 0 0 24px;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;

      @include onTablet {
        font-size: 32px;
        line-height: 128%;
      }
    }
  }
}