@import '../../styles/vars';

.hearticon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $surface-2;
  cursor: pointer;
  transition: background-color 300ms;

  &--m {
    width: 40px;
    height: 40px;
  }

  &--l {
    width: 48px;
    height: 48px;
  }

  &--selected {
    background-color: $black;
    border: 1px solid $elements;
  }

  &:hover {
    background-color: $icons;
  }

  &--icon {
    background-image: url(../../icons/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;

    &--selected {
      background-image: url(../../icons/heart-filled.svg);
    }
  }
}