@import '../../styles/vars';

.hearticon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $surface-2;
  cursor: pointer;

  &:hover {
    background-color: $icons;
  }

  &--icon {
    background-image: url(../../icons/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
}