.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    width: 229px;
    max-width: 288px;
    flex-grow: 1;
  }

}