@import '../../styles/vars';

.button {
  background-color: $accent;
  padding: 0;
  border: 0;
  width: 100%;

  font-family: 'Mont'; 
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $white;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: $accent-hover;
  }

  &--m {
    height: 40px;
  }

  &--l {
    height: 48px;
  }

  &--selected {
    background-color: $surface-2;
    

    &:hover {
      background-color: $elements;
    }
  }
}