@import '../../styles/mixins';
@import '../../styles/vars';

.phones {
  &__icon {
    width: 16px;
    height: 16px;

    &--left-arrow {
      background-image: url(../../icons/Arrows/left-white.svg);
    }

    &--right-arrow {
      background-image: url(../../icons/Arrows/right.svg);
    }
  }

  &__paths {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 25px 0 24px;

    @include onTablet {
      margin-bottom: 41px;
    }
  }

  &__path-home {
    width: 16px;
    height: 16px;
    background-image: url(../../icons/home.svg);
  }

  &__path-phones {
    text-decoration: none;
    color: $secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__filter {
    height: 40px;
    background-color: $surface-2;
    border: 0;
    appearance: none;

    font-family: 'Mont';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    color: $white;

    &--option {
      font-weight: 600;
      color: $secondary;
      background-color: $black;

      &:hover {
        color: $white;
        background-color: $surface-2;
      }
    }
  }
}