@import '../../styles/mixins';
@import '../../styles/vars';

.tablets {
  &__icon {
    width: 16px;
    height: 16px;

    &--left-arrow {
      background-image: url(../../icons/Arrows/left-white.svg);
    }

    &--right-arrow {
      background-image: url(../../icons/Arrows/right.svg);
    }
  }

  &__paths {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 25px 0 24px;

    @include onTablet {
      margin-bottom: 41px;
    }
  }

  &__path-home {
    width: 16px;
    height: 16px;
    background-image: url(../../icons/home.svg);
  }

  &__path-main {
    text-decoration: none;
    color: $secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    margin: 0 0 8px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__count {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__filters {
    display: flex;
    gap: 16px;
    margin: 0 auto;
  }

  &__filter {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;

    &--sortby {
      max-width: 180px;
    }

    &--perpage {
      max-width: 136px;
    }

    &--text {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondary;
    }

    &--select {
      box-sizing: border-box;
      height: 40px;
      background-color: $surface-2;
      border: 0;
      outline: none;
      appearance: none;
  
      font-family: 'Mont';
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      cursor: pointer;
      color: $white;

      &:hover {
        border: 1px solid $accent;
      }
    }
  }

  &__option {
    font-weight: 600;
    color: $secondary;
    background-color: $black;

    &:hover {
      color: $white;
      background-color: $surface-2;
    }
  }
}

.test {

  &-title {}

  &-text {
    font-size: 20px;

    &--phones {
      margin: 5px;
      font-weight: 700;
      border: 2px solid $elements;
      padding: 10px;
      text-decoration: none;
      color: $white;

      &:hover {
        color: $accent;
        background-color: $elements;
      }
    }
  }
}