@import '../../styles/vars';
@import '../../styles/mixins';

.productcard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px;
  width: 100%;
  height: 440px;
  background-color: $surface-1;
  margin-bottom: 24px;

  @include onTablet {
    height: 506px;
  }

  &__image {
    &-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      height: 100px;
      object-fit: contain;
      margin-bottom: 24px;
    }
  }

  &__title {
    font-family: 'Mont';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  &__prices {
    display: flex;
    gap: 8px;
    font-family: 'Mont';
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    margin-bottom: 8px;
  }

  &__price {}

  &__fullprice {
    font-weight: 600;
    color: $secondary;
    text-decoration: line-through;
  }

  &__divider {
    border: 1px solid $secondary;
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__specs {
    display: flex;
    justify-content: space-between;
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    &--text {
      color: $secondary;
    }

    &--value {

    }
  }
  &__buttons {
    display: flex;
    gap: 8px;

    &--button {
      flex-grow: 1;
    }
  }
}