$black: #0F1121;
$surface-1: #161827;
$surface-2: #323542;
$elements: #3B3E4A;
$icons: #4A4D58;
$secondary: #75767F;
$white: #F1F2F9;
$green: #27AE60;
$red: #EB5757;
$accent: #905BFF;
$accent-hover: #A378FF;
