@import '../../styles/vars';
@import '../../styles/mixins';

@font-face {
  font-family: Mont;
  src: url(../../fonts/Mont-Regular.otf)
}

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url(../../fonts/Mont-SemiBold.otf)
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  src: url(../../fonts/Mont-Bold.otf)
}

html {
  scroll-behavior: smooth;
  font-family: Mont;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: $white;
  background-color: $black;
  overflow-x: hidden;
  overflow-y: auto;
}

.app {
  min-width: 100%;
  min-height: 100vh;
  background-color: $black;
  overflow-x: hidden;

  &__main {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: calc(100vh - $header-height-mob-tab - $footer-height-mobile);

    @include onTablet {
      padding: 0 24px;
      min-height: calc(100vh - $header-height-mob-tab - $footer-height-tab-desk);
    }

    @include onDesktop {
      min-height: calc(100vh - $header-height-desktop - $footer-height-tab-desk);
      padding: 0 32px;
    }

    &--no-padding {
      padding: 0;
    }
  }
}