$black: #0F1121;
$surface-1: #161827;
$surface-2: #323542;
$elements: #3B3E4A;
$icons: #4A4D58;
$secundary: #75767F;
$white: #F1F2F9;
$accent: #905BFF;
$green: #27AE60;
$red: #EB5757;


body {
  box-sizing: border-box;
  margin: 0;
  color: $white;
  background-color: $black;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: $black;
}