@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  gap: 32px;
  height: 48px;
  border-bottom: 1px solid $elements;

  @include onDesktop {
    height: 64px;
    gap: 48px;
  }
}