@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  // z-index: 1;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  height: 48px;
  padding-left: 16px;
  border-bottom: 1px solid $elements;
  background-color: $black;

  @include onTablet {
    justify-content: flex-start;
  }

  @include onDesktop {
    height: 64px;
    gap: 48px;
    padding-left: 24px;
  }
}