@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  height: $header-height-mob-tab;
  padding-left: 16px;
  border-bottom: 1px solid $elements;
  background-color: $black;

  @include onTablet {
    justify-content: flex-start;
  }

  @include onDesktop {
    height: $header-height-desktop;
    gap: 48px;
    padding-left: 24px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    box-shadow: -1px 0 0 0 $surface-2;
    cursor: pointer;
    
    @include onDesktop {
      width: 64px;
      height: 64px;
    }
  
    &--icon {
      width: 16px;
      height: 16px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--menu {
      background-image: url(../../icons/menu.svg);
    }
  
    &--close {
      background-image: url(../../icons/close-white.svg);
    }
  }
}