@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.cartitem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  height: 160px;
  background: $surface-1;
  max-width: 752px;

  @include onTablet {
    flex-direction: row;
    padding: 24px;
    height: 128px;
  }

  &__remove {
    width: 16px;
    height: 16px;
    background-image: url(../../icons/close.svg);
    cursor: pointer;
  }

  &__image {
    &-container {
      display: flex;
      width: 66px;
      height: 66px;
      object-fit: contain;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

// #region Icon
  &__icons {
    display: flex;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__icon {
    &-container {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;
      cursor: pointer;
      background-color: $surface-2;

      &--disabled {
        border: 1px solid $elements;
        cursor: default;
        background-color: $black;
      }
    }

    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--minus {
      background-image: url(../../icons/minus-white.svg);

      &--disabled {
        background-image: url(../../icons/minus.svg);
      }
    }

    &--plus {
      background-image: url(../../icons/plus-white.svg);

      &--disabled {
        background-image: url(../../icons/plus-white.svg);
      }
    }
  }
//#endregion

  &__price {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }
}