@import '../../styles/_mixins.scss';

.details {

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }
}