@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.details {

  &__icon {
    width: 16px;
    height: 16px;

    &--left-arrow {
      background-image: url(../../icons/Arrows/left-white.svg);
    }

    &--right-arrow {
      background-image: url(../../icons/Arrows/right.svg);
    }
  }


  &__paths {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 25px 0 24px;
    min-width: 450px;

    @include onTablet {
      margin-bottom: 41px;
    }
  }

  &__path-home {
    width: 16px;
    height: 16px;
    background-image: url(../../icons/home.svg);
  }

  &__path-phones {
    text-decoration: none;
    color: $white;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__path-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $secondary;
  }

  &__back {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    margin-bottom: 16px;
    gap: 6px;
    
    &--text {
      font-family: 'Mont';
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    margin: 0 0 32px;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
      margin-bottom: 40px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 56px;

    @include onTablet {
      flex-direction: row;
      gap: 75px;
      margin-bottom: 64px;
    }

    @include onDesktop {
      gap: 125px;
      margin-bottom: 80px;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
      
    @include onTablet {
      flex-direction: row;
    }
    
    &--image {
      box-sizing: border-box;
      width: 80%;
      // padding: 0 48px;
      
      @include onTablet {
        order: 1;
        padding: 0;
      }
    }

    &--previews {
      display: flex;
      gap: 12px;

      @include onTablet {
        flex-direction: column;
      }

      &--image {
        border: 1px solid $white;
        width: 50px;
        height: 50px;
        object-fit: contain;
        // object-fit: cover;
      }
    }
  }

  &__pick {
    display: flex;
    flex-direction: column;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    &--title {
      margin: 0;
      font-family: 'Mont';
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondary;
    }

    &--previews {
      display: flex;
      gap: 20px;
    }

    &-color {
      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $elements;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          border-color: $secondary;
        }
      }

      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }

  &__divider {
    border: 1px solid $elements;
    margin-bottom: 24px;
  }

  &__capacities {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      margin: 0;
      font-family: 'Mont';
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondary;
    }

    &--previews {
      display: flex;
      gap: 8px;
    }

    &-capacity {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 8px 4px;
      height: 32px;
      margin-bottom: 24px;
      border: 1px solid $icons;

      font-family: 'Mont';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;


      &--active {
        color: $black;
        background-color: $white;
        border: 0;
      }
    }
  }

  &__prices {
    display: flex;
    gap: 8px;
    font-family: 'Mont';
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;

    margin-bottom: 16px;
  }

  &__price {}

  &__fullprice {
    font-size: 22px;
    font-weight: 600;
    color: $secondary;
    text-decoration: line-through;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;

    &--button {
      flex-grow: 1;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__specs {
    display: flex;
    justify-content: space-between;
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    &--text {
      color: $secondary;
    }

    &--value {
      font-weight: 600;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include onTablet {
      gap: 64px;
    }

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__about {
    @include onDesktop {
      width: 50%;
    }
    &--title {
      margin: 0 0 16px;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
    }

    &--subtitle {
      margin: 0 0 16px;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
    }

    &--text {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $secondary;

      margin-bottom: 32px;
    }
  }

  &__techspecs {
    margin-bottom: 56px;
    flex-grow: 1;

    @include onTablet {
      margin-bottom: 64px;
    }
    &--title {
      margin: 0 0 16px;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
    }
  }
}