@import '../../styles/vars';
@import '../../styles/mixins';

.footer {
  display: flex;
  flex-direction: column;
  // background-color: rgb(49, 43, 35);
  padding: 34px 16px;
  max-width: 1136px;
  margin: 0 auto;

  @include onTablet {
    padding: 34px 32px;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;

    @include onDesktop {
      gap: 64px;
    }
  }

  &__item {}

  &__link {
    display: flex;
    padding: 6px 0;

    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $white;
  }

  &__back {
    display: flex;
    align-items: center;

    &--text {
      font-family: 'Mont';
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondary;
    }

    &--button {
      width: 16px;
      height: 16px;
      background-image: url(../../icons/Arrows/up-white.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: $surface-2;
      }
    }
  }
}