@import '../../styles/vars';
@import '../../styles/mixins';

.utilityicon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  box-shadow: -1px 0 0 0 $surface-2;
  text-decoration: none;
  
  @include onDesktop {
    width: 64px;
    height: 64px;
  }

  &--active {
    &::after {
      content: "";
      position: absolute;
      top: 45px;
      width: 48px;
      height: 3px;
      background-color: $white;

      @include onDesktop {
        top: 61px;
        width: 64px;
      }
    }
  }

  &--icon {
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--quantity {
      position: relative;
      left: 7px;
    }
  }

  &--fav {
    background-image: url(../../icons/heart.svg);
  }

  &--cart {
    background-image: url(../../icons/cart.svg);
  }

  &--menu {
    background-image: url(../../icons/menu.svg);
  }

  &--close {
    background-image: url(../../icons/close-white.svg);
  }

  &__quantity {
    position: relative;
    top: -6px;
    right: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;

    text-decoration: none;
    background-color: $red;
    color: $white;
    border-radius: 50%;

    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
  }
}