@import '../../styles/vars';
@import '../../styles/mixins';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;

  &--formenu {
    flex-direction: column;
  }

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;

    @include onDesktop {
      gap: 64px;
    }

    &--formenu {
      flex-direction: column;
      justify-content: center;
      height: max-content;
      margin-top: 32px;
    }
  }

  &__item {
    display: flex;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $secondary;

    &--active {
      border-bottom: 3px solid $white;
      padding-top: 3px;
      color: $white;

      &--formenu {
        border: 0;
        padding: 0;
      }
    }
  }

  &__icons {
    display: flex;
  }
};