@import '../../styles/vars';

.nav {

  &__list {
    background-color: rgb(255, 105, 46);
    display: flex;
    list-style: none;

    gap: 32px;
  }

  &__item {

  }

  &__link {
    display: flex;

    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $white;
    // background-color: rgb(25, 59, 5);
  }
}